body {
  font-family: sans-serif; font-size: 80%; line-height: 1.2em; width: 80%; margin: 0 auto; background: #f0f0f0;
  margin-top:0%;
}

/* *{ margin: 0; } */

h1{
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.5em;

}

h2{
  font-weight: bold;
  font-size: 1.2em;

}

h3{
  font-weight: bold;
  font-size: 1.2em;
}

h4{
  /*font-weight: bold;*/
  font-size: 0.9em;
}


mark_pos { 
  background-color: lightgreen;
  color: black; 
}


mark_neg { 
  background-color: #fa8072;
  color: black;
  
}


.topnav {
  overflow: hidden;
  background-color: #484f4f;
  padding: 0px 0px;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 17px;
}

.title_bar {
  background-color: #484f4f;
  color: white;
  font-weight: bold;
}

.active {
  background-color: #401669;
  color: white;
}

.topnav .icon {
  display: none;
}


.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #33334d;
  color: white;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


#title{
  float: left;
  position: absolute;
  left: 10%;
  padding-left: 20px;

}

#explaination_title{

  padding: 0% 0% 0% 0%;
  margin: 0;
}

a{
	color: #622569;
	text-decoration: underline;
	font-weight: bold;
	line-height: 1.0em;
	font-size: 1.0em;
}
	/*a:hover,
	a:active{ text-decoration: underline; }*/

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.save_button {
  background-color: #e66f25;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#cnsntDiv {
  display: table;
	font-family: sans-serif;
	font-size: 100%; 
	line-height: 1.2em; 
	width: 85%; 
	margin: 0 auto; 
	/*background: #f0f0f0;*/
  background: white;
     margin-top:2%;
     margin-right: 10%;

/*  position: relative;
  width: 100%;
  padding-top: 100%;*/ /* 16:9 Aspect Ratio */
/*ul li a{ box-shadow: 0px 1px 1px #999; }*/
}

#formDiv {
  display: table;
  font-family: sans-serif;
  font-size: 100%; 
  line-height: 1.2em; 
  margin: 10 auto; 
  background: white;
  margin-top:2%;
  width: 80%
  /*margin-right: 10%;*/
  /*display: inline-block;*/
}

#cnsnttextbox {
  display: table-cell;
  width: 70%; 
  padding: 20px;
  text-align: left;
 }


 .progress{

  font-size: small;
  float: right;
  color: #666666;
  margin: 0px;

 }


#textbox {
float:left;
margin: 0 auto;
margin-left: 5%;
width: 40%;	
}

button{
  padding: 1em;
}
#exit_button-1 {
	display: inline-block;
  float: left;
  /*margin-left: 10%;*/
}

#backbutton {
	display: inline-block;
	margin-left: 10%
}

#category {
  display: inline-block;
  margin-left: 5%
}

#nextbutton-1 {
  display: inline-block;
  float:right;
  /* margin-right: 10% */
}

#nextbutton-2 {
  display: inline-block;
  float:right;
  /* margin-right: 10% */
}

p{
	margin-left: 10%;
  margin: 10px;
	font-weight: bold;
}
#backbutton2 {
	display: inline-block;
	margin-left: 4%;
	margin-bottom: 2%;
}
#nextbutton2 {
  display: inline-block;
  float:right;
  margin-right: 10%;
  margin-bottom: 2%;
}

#nextbutton3 {
  display: table-cell;
  /*display: inline-block;*/
  float:right;
  margin-right: 10%;
  margin-top: 10%;
}

#nextbutton4 {
  /*display: table-column;*/
  /*display: block;*/
  float:right;
  margin-right: 20%;
  margin-top: 2%;
  /*margin-bottom: 2%;*/
}

#nextbutton5 {
  /*display: table-column;*/
  /*display: block;*/
  float:right;
  margin-right: 20%;
  margin-bottom: 2%;
  /*margin-bottom: 2%;*/
}

#endbutton {
  /*display: inline-block;*/
  float:left;
  margin-right: 5%;
  margin-bottom: 2%;
}


textarea{
  resize: none;
  width:40%;
  height:100%;
  padding:3px;
  font-size: 18px;
  margin: 0 auto;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 2%;
}

/*float:left;
margin: 0 auto;
margin-left: 5%;
width: 40%;	
*/
 .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

div.relative {
    position: relative;
    width: 800px;
    height: 350px;
    border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 10px;
    right: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.tooltip {
	background: #D791E8;
}

#chartDiv{
  /*display: table;*/
  padding: 3%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
  /*background: white;*/
  background-color: #f2f2f2;
  /*width: 100%*/
     /*margin-top:2%;
     margin-right: 10%;*/
}
#panel{
  /*display: table-cell;*/
  /*display: block*/
  margin: 0 auto;
  padding: 2%;

  /*width: 100% ;*/
}
#img_box {
  /*display: table-cell;*/
  display: block;
  margin: 0 auto;
  max-width: 100%;
  /*margin-left: 40%;*/
  /*margin-top: 5%;*/
/*  padding: 20px;*/
  margin-bottom: 5%;
  margin-top: 5%;
}

/*
#image{
  width: 50%;
}*/
/* img {
    width: 50%;
    margin-left: 10%;
    height: auto;
} */

.slide-img{

  display: block;
  margin: 0 auto;
  min-width: 500px;
  max-width: 50%;

}


#test_img{
  display: inline-block;
  margin-left: 20%;
  max-width: 600px;
  /*width: 400px;*/
  padding-left: 200px;

}


#img_exp{
  display: inline-block;
  margin-left: 20%;
  max-width: 400px;
  /*width: 400px;*/
  padding-left: 200px;
}


#text_body{
  width: 60%;
  padding: 1em;
  border-radius: 5px;
  border: #999 solid 1.5px;
  cursor: pointer;

}


#submit{
  width: 47.5%;
  margin-top: 1%;
}

#clear1{

  display: block;
  padding: .3em 3em;
  margin: 0 auto;
  border-radius: 5px;
  font-size: larger;

}


#clear2{
  display: inline-block;
  /*display: block;*/
  background-color: #484f4f;
  color: #f2f2f2;
  margin-left: 1%;
  /*margin-bottom: 10%;*/
  float:right;
  padding: .3em 3em;
  /*margin: 100;*/
  border-radius: 5px;
  font-size: larger;

}

#annotation_area{
  width: 50%;
  /*padding-rigth: 2%;*/
  display: inline-block;
}

#control{
  width: 20%;
  float: top;
  display: inline-block;
}


#prediction{
  display: inline-block;
  width: 26%;
  padding-left: 2%;
  /*float: right;*/
  /*position: absolute;*/
  font-weight: bold;
  /*left: 10%;*/
  padding-bottom: 0%;
  font-size: larger;
}


#the_gauge{
  /*display: inline-block;*/
  /*float: center;*/
  text-align: center;
  width: 100%;
  /*padding-left: 5%*/
}



.radioBut {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /*font-size: 22px;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioBut input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioBut:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the radio button is checked, add a purple (802dd2) background */
.radioBut input:checked ~ .radiomark {
  background-color: #484f4f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioBut input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioBut .radiomark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


/* The container */
.checkBut {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: larger;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBut input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.checkBut:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a purple background */
.checkBut input:checked ~ .checkmark {
  background-color: #484f4f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBut input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBut .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.highlight{
  padding:.05em;
}

div.stars {

/*  width: 270px;*/

  display: inline-block;

}

input.star { display: none; }

label.star {

  float: right;

  padding: 2px;
  padding-top: 20px;

  font-size: 20px;

/*  color: #444;*/
    color: #3613a3;

  transition: all .2s;

}


input.star:checked ~ label.star:before {

  content: '\f005';

  color: #FD4;

  transition: all .25s;
    
    text-shadow: 0 0 5px #952;

}

input.star-10:checked ~ label.star:before {

  color: #FE7;

  text-shadow: 0 0 20px #952;

}

 

input.star-1:checked ~ label.star:before { color: #F62; }

 

label.star:hover { transform: rotate(-15deg) scale(1.3); }

 

label.star:before {

  content: '\f006';

  font-family: FontAwesome;
}


.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}